<% layout("layouts/boilerplate") -%>

  <body>
    <div class="filters-wrapper">
      <div id="filters">
        <div class="filter">
          <div>
            <a href="/listings/category/room">
              <i class="fa-solid fa-bed"></i>
            </a>
          </div>
          <p>Rooms</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/farm">
              <i class="fa-solid fa-tractor"></i>
            </a>
          </div>
          <p>Farms</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/mountain">
              <i class="fa-solid fa-mountain"></i>
            </a>
          </div>
          <p>Mountains</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/tower">
              <i class="fa-solid fa-tower-observation"></i>
            </a>
          </div>
          <p>Towers</p>
        </div>

        <div class="filter">
          <div>
            <a href="/listings/category/windmills">
              <i class="fa-solid fa-fan"></i>
            </a>
          </div>
          <p>Windmills</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/park">
              <i class="fa-solid fa-tree"></i>
            </a>
          </div>
          <p>National-Parks</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/artic">
              <i class="fa-solid fa-snowflake"></i>
            </a>
          </div>
          <p>Arctic</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/tyhome">
              <i class="fa-solid fa-house"></i>
            </a>
          </div>
          <p>Tiny Homes</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/urban">
              <i class="fa-solid fa-city"></i>
            </a>
          </div>
          <p>Urban</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/castle">
              <i class="fa-solid fa-chess-rook"></i>
            </a>
          </div>
          <p>Castles</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/beach">
              <i class="fa-solid fa-umbrella-beach"></i>
            </a>
          </div>
          <p>Beach</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/camping">
              <i class="fa-solid fa-fire"></i>
            </a>
          </div>
          <p>Camping</p>
        </div>
        <div class="filter">
          <div>
            <a href="/listings/category/countryside">
              <i class="fa-solid fa-seedling"></i>
            </a>
          </div>
          <p>Countryside</p>
        </div>
      </div>
       <div class="tax-toggle" id="wq">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" id="checkout">
        <label class="form-check-label" for="flexSwitchCheckDefault">
          <span class="badge text-bg-warning">Display Total Taxes</span>
        </label>
      </div>
    </div>
    </div>
   
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-3">
      <% for (let listing of allListings) { %>
        <div class="col mb-4">
          <a href="/listings/<%= listing._id %>" class="listing-links text-decoration-none text-dark">
            <div class="card listing-card shadow-sm position-relative overflow-hidden h-100">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                style="height: 20rem; object-fit: cover;">
             
              <div class="card-img-overlay d-flex justify-content-between align-items-start p-3">
                <button class="guest-fav-btn">Guest favorite</button>
                <div class="wishlist-icon">
                  <i class="fa-regular fa-heart"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-title fw-bold fs-5 mb-1">
                  <%= listing.title %>
                </p>
                <p class="card-text mb-0">
                  &#8377; <%= listing.price.toLocaleString("en-IN") %> <span class="text-muted">per night</span>
                </p>
                <small class="text-muted tax-info">+18% GST</small>
              </div>
            </div>
          </a>
        </div>
        <% } %>
    </div>

  </body>

  <script>
 let taxswitch = document.getElementById("checkout");
taxswitch.addEventListener("click", () => {
  let taxInfo = document.getElementsByClassName("tax-info");
  for (let info of taxInfo) {
    if (info.style.display === "inline") {
      info.style.display = "none";
    } else {
      info.style.display = "inline";
    }
  }
});
 </script>